<div class="footer">
    <div class="footer-content">
        <div class="footer-copyright">
            <span>© {{ .Site.Params.footer_year }} {{ .Site.Params.footer_text }}</span>
        </div>
        <div class="footer-social" >
            <small>Template made by <a href="https://anonfaded.github.io/" target="_blank">F4d3d</a></small>
        </div>
        <div class="footer-social">
            <!-- Social Icons -->
            <a href="https://github.com/{{ .Site.Params.github_username }}" target="_blank" title="GitHub">
                {{ readFile "static/images/icons/github.svg" | safeHTML }}
            </a>
        </div>
    </div>
    
</div>
