<div class="summary">
  <span class="border-animation"></span>

  {{ if .Site.Params.showAuthorOnPosts }}
    {{ partial "author.html" . }}
  {{ else }}
    <div class="summary-date">{{ dateFormat "Jan 2, 2006" .Date }}</div>
  {{ end }}

<div class="summary-title-row">

  <h2 class="summary-title">
  <a href="{{ .RelPermalink }}">
    <span class="{{ if .Params.wip }}wip-glitch{{ end }}"
          data-text="{{ .Title }}">
      {{ .Title }}
    </span>
  </a>
</h2>

  {{ if .Params.wip }}
    <div class="summary-wip-side">
      WIP
    </div>
  {{ end }}

</div>

  {{ if and (eq .Section "ctf") (ne .Parent.RelPermalink "/ctf/") }}
  <div class="summary-meta">
    <span>{{ .Params.platform }}</span>
    <span>{{ .Params.language }}</span>
    <span>Difficulty: {{ .Params.difficulty }}</span>
  </div>
  {{ end }}

  <p class="summary-description">{{ .Params.description }}</p>
</div>
